# Project place file
/Build-The-Strongest-Anime-Team.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json

src/ReplicatedStorage/network_client.luau
src/ServerScriptService/network_server.luau
